.input {
    color: #f5f5f5;
    font-size: 32px;
    font-weight: 500;
    width: 336px;
    cursor: default;
    /* margin-top: 24px; */
    background-color: #000;
    height: 75px;
    border: none;
    resize: none;
}

.input:focus {
    outline: none;
}